/*
    Primary
        #2196F3
    
    Primary Dark
        #1976D2

    Primary Light
        #BBDEFB

    Accent - Red
        #FF5252

*/
body, html {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    height: 100%;
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-header {
    background-color: #2196F3;
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 1rem 0 1rem;
}

.editor-brand {
    align-self: center;
    font-size: 24px;
}

.editor-nav {
    align-self: center;
}

.editor-nav .icon {
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid transparent;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

.icon:hover {
    background-color: #1976D2;
    border: 1px solid #FFFFFF;

}

.editor-content {
    min-height: 5rem;
    flex: 1 0 auto;
    display: flex;
}

.editor-footer {
    min-height: 1rem;
    background-color: #1976D2;
    color: #FFFFFF;
}

.canvas-container {
    border: 1px solid #E0E0E0;
    display: inline-block;
    overflow: scroll;
    position: relative;    
}

.editor-board.canvas-container,
.information-pane {
    margin: 1rem 0.25rem 1rem 0.25rem;

}

.editor-board {
    flex: 1 0 auto;
}

.gen-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.information-pane {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.editor-tileset.canvas-container {
    flex: 1 0 auto;
}

.information-container {
    background-color: #E0E0E0;
}

.editor-board.canvas-container .active-canvas:active,
.editor-board.canvas-container .active-canvas:focus {
    cursor: crosshair;
}


